.main-header {
  display: flex;
  border-bottom: solid;
  border-bottom-color: #dedede;
  border-bottom-width: thin;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15%;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;

  .main-logo-section {
    display: flex;

    .img-container {
      width: auto;
      margin-right: 0.75rem;
      cursor: pointer;
      
      .img-wrapper {
        vertical-align: middle;
        object-fit: contain;
        display: inline-block;
        outline: 0;
        height: 45px;
      }
    }
    .search-bar-container {
      display: flex;
      
      .search-bar {
        border: solid;
        border-color: #d4d4d4;
        border-radius: 6px;
        font-size: 16px;
        outline: none;
        padding: 0.5rem;
        width: 25rem;
        height: 25px;

        &:hover{
          border-color: #a3a3a3;
        }
        &:focus{
          border-color: #3B49DF;
        }
      }
      .search-icon{
        display: flex;
        align-items: center;
        padding: 0.2rem;
        position: relative;
        right: 35px;
        cursor: pointer;
      }
    }
  }
  .cta-btns-section {
    display: flex;
    justify-content: space-between;

    .btns {
      text-align: center; 
      text-decoration: none;
      border-radius: 6px;
      margin: 0.5rem 0.3rem;
      padding: 0.7rem 1rem;
      font-weight: 500;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
      
    }
    .login-btn {
      border: none;
      background-color: #fff;
      &:hover {
        color: #3B49DF;
        background-color: #EBEDFB;
      }
    }
    .signup-btn {
      border-color: #3B49DF;
      background-color: #fff;
      color: #3B49DF;
      border-width: thin;

      &:hover{
        background-color: #3B49DF;
        color: #fff;
      }
    }
  }
}